.app-wrapper {
    display: grid;
    width: 1200px;
    margin: 0 auto;
    grid-template-areas:
    " h h "
    "n c"
    "f f";
    grid-template-rows: 100px 10fr 100px;
    grid-auto-columns: 2fr 10fr;



}
.header {
    grid-area: h;
    background-color: lightblue;
}
.header img {
    width: 100px;
}
.nav {
    grid-area: n;
    background-color: lightblue;
}
.content {
    grid-area: c;
}

.footer {
    grid-area: f;
    background-color: lightblue;
}
